<div class="main-container">

    <nav class="subnav">
        <clr-dropdown>
            <button type="button" class="btn btn btn-link" clrDropdownTrigger>
                EXPLORE
                <clr-icon shape="caret down"></clr-icon>
            </button>
            <clr-dropdown-menu clrPosition="bottom-left" *clrIfOpen>
                <button type="button" clrDropdownItem>ABOUT</button>
                <button type="button" clrDropdownItem>TRAVEL</button>
                <button type="button" clrDropdownItem>SHOP</button>
                <button type="button" disabled clrDropdownItem>Disabled Action</button>
            </clr-dropdown-menu>
        </clr-dropdown>
      |  
      <button type="button" class="btn btn-icon" disabled>
          <clr-icon shape="home"></clr-icon>
      </button>
          
       
    </nav>
    

   
  

  <div class="row">
    <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12">
      <a href="..." class="container">
        <img src="assets/shape.jpg" alt="..." />
        <button class="btn">TRAVEL</button>
      </a>
    </div>
    <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12">
      <a href="..." class="container">
          <img src="assets/shape.jpg" alt="..." />
          <button class="btn">SHOP</button>
      </a>
    </div>
  
    <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12">
      <a href="..." class="container">
          <img src="assets/shape.jpg" alt="..." />
          <button class="btn">ABOUT</button>
      </a>
    </div>
  </div>

  <div class="follow"> 
    <button class="button" class="btn btn-link"> <strong>Follow Along</strong> </button>
  </div>



  

  
</div>




