/* .header{
    background-color:white;
    text-align: center;
    
} */

/* .header-nav{
    display: inline-block;
    text-align: center !important;
    font-size: 35px;
    font-weight: 500;
    /* background-color:white; */
    /* color: navy;
    
/* } */ 


.logo img{
  width: 20%;
  height: auto;
  margin: 1px auto;
  display: block;
}
/* Container needed to position the button. Adjust the width as needed */
.container {
    position: center;
    width: 50%;
    border:none !important;
  }
  
  /* Make the image responsive */
  .container img {
    width: 100%;
    height: auto;
  }
  
  /* Style the button and place it in the middle of the container/image */
  .container .btn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: white;
    color: navy;
    font-size: 20px;
    font-style: italic;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
  }
  
  .container .btn:hover {
    background-color: white;;
  }

  

