<div class="main-container">
    <nav class="subnav">
        <clr-dropdown>
            <button type="button" class="btn btn btn-link" clrDropdownTrigger>
                EXPLORE
                <clr-icon shape="caret down"></clr-icon>
            </button>
            <clr-dropdown-menu clrPosition="bottom-left" *clrIfOpen >
               <a routerLink="about" class="nav-link nav-text"  clrDropdownItem >ABOUT</a>
                <a class="nav-link nav-text" routerLink="travel" clrDropdownItem ><STRONG>TRAVEL</STRONG></a>
                <a class="nav-link nav-text" routerLink="shop" clrDropdownItem  ><STRONG>SHOP</STRONG></a>
                <a class="nav-link nav-text" routerLink="house" clrDropdownItem  ><STRONG>INTERIOR</STRONG></a>
                <a class="nav-link nav-text" routerLink="beauty" clrDropdownItem  ><STRONG>BEAUTY</STRONG></a>
                <a class="nav-link nav-text" routerLink="reviews" clrDropdownItem  ><STRONG>REVIEWS</STRONG></a>
              </clr-dropdown-menu>
              
        </clr-dropdown>
      |  
      <button type="button" class="btn btn btn-link">
          <clr-icon shape="home"></clr-icon>
      </button>
      <br>
    </nav>
      <br>
    <a> <img src="assets/explorelavie.JPG" alt="..." /> </a>
  

  <div class="row">
    <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12">
      <a href="..." class="container">
        <img src="assets/shape.jpg" alt="..." />
        <button  class="btn" click="travelSubmit()">TRAVEL</button>
      </a>
    </div>
    
    <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12">
      <a href="..." class="container">
          <img src="assets/shape.jpg" alt="..." />
          <button class="btn">SHOP</button>
      </a>
    </div>
  
    <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12">
      <a href="..." class="container">
          <img src="assets/shape.jpg" alt="..." />
          <button class="btn">REVIEWS</button>
      </a>
    </div>
  </div>

 




